**#Data Science Tools and Ecosystem**

**#Introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

- Classification
- Regression
- Clustering Methods
- Algebra
- Basic Statistics and Probabilities

##Author Joyce Fernandes

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow
5. Scipy

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Julia

|Data Science Tools |
| :----- |
| RStudio |
| Apache Spark |
| Apache Hadoop |

###Below are a few examples of evaluating arithmetic expressions in Python

1. (2.5*3.5)
2. (2+2)
3. (20*3)
4. (7-3)
5. (2*3+5)

In [8]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335